@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Julius+Sans+One&family=Play&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/* font-family: 'Gruppo', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Zilla Slab', serif; 
font-family: 'Montserrat', sans-serif;*/

body {
  /* font-family: 'Play', sans-serif; */
  font-size: 20px;
  }
  
  /* Nav bar specifications */
  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 300px;
    z-index: 9997;
    background-image: linear-gradient(to bottom, rgba(44, 44, 44, 0.466), rgb(15, 15, 15));
  }

  /* Profile image */
  #header .profile img {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
    display: block;
    width: 75%;
    box-shadow: rgb(51, 51, 51) 3px 3px 15px 4px;
  }

  #header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  #header .profile .social-links a:hover {
    background:  #a8a9b4;
    color: #fff;
    text-decoration: none;
  }

   /* Profile name font */
 .profile h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 2px;
    padding: 0;
    text-align-last: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: rgb(56, 56, 56) 2px 2px 6px;
  }

  .sub-title {
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 0;
    padding: 0;
    text-align-last: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: rgb(56, 56, 56) 2px 2px 6px;
  }
  
  #main {
    margin-left: 200px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  }

/* Nav menu specs */

  #navbar {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
  }

  .nav-menu {
    padding: 25px 0 0 0;
  }

  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    padding-top: 10px;
  }

  .nav-menu a, .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    text-decoration: none;
    padding-top: 20px;
  }

  .nav-menu a i, .nav-menu a:focus i {
    padding-right: 8px;
    color: #6f7180;
    text-decoration: none;
  }

  .nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    padding-top: 20px;
  }

  .nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i {
    color: #fff;
  }
  
  
  /* Main background image: could not determine how to fit within the space without repeating, will refine */
  #hero {
    width: 100%;
    height: 100vh;
    background-image: url("./images/climb.jpg");
    background-size: cover;
  }

  /* About, Portfolio, and Contact section formatting */
  .section-title {
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #173b6c;
    text-shadow: rgb(80, 80, 80) 2px 2px 8px;
  }

  .section-title p {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    color: black
  }

  .section-title h2::after {
    content: "";
    position: relative;
    display: block;
    width: 60px;
    height: 3px;
    background: #83a8b9;
  }
  .portfolio {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .section-title p {
    margin-bottom: 0;
  }
  
  .info-list {
    list-style: none;
    
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
  }

  /* Portfolio section, all formatting and hover properties */
  
  .portfolio-container {
    position: relative;
    width: 1400px;
    height: 450px;
    margin: 20px auto;
    background: none;
    padding-bottom: 30px;
    background-size: contain;
    bottom: 0px;
  }
  
  .portfolio-box1 {
    position: relative;
    width: 1400px;
    height: 210px;
    bottom: 100px;
    bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 1000;
    color: black;
    box-shadow: 10px 10px 15px #888888;
    z-index: 0;
  }

  .portfolio-box1 span {
    position: absolute;
    bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    right: 1282px;
    font-size: 18px;
    font-weight: bolder;
    color: black;
    margin-bottom: 5px;
  }

  .portfolio-box2 {
    position: relative;
    margin-top: 20px;
    width: 650px;
    height: 210px;
    bottom: 0px;
    box-shadow: 10px 10px 15px #888888;
    z-index: 2;
  }

  .portfolio-box2 span {
    position: absolute;
    bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    right: 460px;
    margin-bottom: 5px;
  }

  .portfolio-box3 {
    position: relative;
    padding-top: 0px;
    width: 650px;
    height: 210px;
    bottom: 0px;
    z-index: 2;
    box-shadow: 10px 10px 15px #888888;
    float: right;
    right: 50px;
    bottom: 210px;
  }

  .portfolio-box3 span {
    position: absolute;
    bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    right: 460px;
    margin-bottom: 5px;
  }

  .portfolio-box1 .overlay {
    position: absolute;
    width: 1400px;
    height: 210px;
    bottom: 100px;
    bottom: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #389203;
  }
  
  .portfolio-box1:hover .overlay {
    opacity: 0.3;
  }
  .portfolio-box2 .overlay {
    position: absolute;
    width: 650px;
    height: 210px;
    bottom: 100px;
    bottom: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #920303;
  }
  
  .portfolio-box2:hover .overlay {
    opacity: 0.3;
  }
  .portfolio-box3 .overlay {
    position: absolute;
    width: 700px;
    height: 210px;
    bottom: 100px;
    bottom: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30;
    height: 100%;
    width: 107.75%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
  }
  
  .portfolio-box3:hover .overlay {
    opacity: 0.2;
  }
  

  /* Contact info section*/
  .contact {
    padding-bottom: 130px;
  }

  .contact .info {
    position: relative;
    padding: 30px;
    background: #fff;
    width: 75%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
   
  }

  .contact .info h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
  }

  .contact .info p {
    text-decoration: bold;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000a8;
  }
 

  
  /* Footer text formatting */
  #footer {
    margin-left: 0;
    margin-bottom: 5px;
    color: #b8b8b8;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200px;
    z-index: 9999;
    background: #000000; opacity: 100%;
  }
