body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  }
  

  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

  /* Nav bar specifications */
  #header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -88px;
    width: 300px;
    z-index: 9997;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
  }

  /* Profile image */
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 4px solid #3b302da4;
  }

   /* Profile name font */
  #header .profile h1 {
    text-decoration-line: none;
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  #header .profile h1 a, #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #main {
    margin-left: 200px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  }

/* Nav menu specs */
  .nav-menu {
    padding: 30px 0 0 0;
  }
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  .nav-menu a, .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 20px;
  }
  .nav-menu a i, .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
  }
  .nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
  }
  
  
 /* Junior web developer title */
  .text-over-image {
    text-align: center;
    text-decoration: bold;
    color: blanchedalmond;
    font-style: italic;
  }
  
  /* Main background image: could not determine how to fit within the space without repeating, will refine */
  #hero {
    background-image: url("./images/soph-dan-159.JPG");
    background-repeat: repeat;
    background-attachment: fixed;
    width: 100%;
    height: 1000px;
  }

  /* About, Portfolio, and Contact section formatting */
  .section-title {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
  }
  .section-title h2::after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }
  .section-title p {
    margin-bottom: 0;
  }
  
  .about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
  }

  /* Portfolio section, all formatting and hover properties */
  
  .portfolio-container {
    position: relative;
    width: 1400px;
    height: 450px;
    margin: 20px auto;
    background: none;
    padding-bottom: 30px;
    background-size: contain;
    bottom: 0px;
  }
  
  .portfolio-box1 {
    position: relative;
    width: 1400px;
    height: 210px;
    bottom: 100px;
    bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 1000;
    color: black;
    box-shadow: 10px 10px 15px #888888;
    z-index: 0;
  }

  .portfolio-box1 span {
    position: absolute;
    bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    right: 1242px;
    font-size: 20px;
    font-weight: 1000;
    color: black;
  }

  .portfolio-box2 {
    position: relative;
    margin-top: 20px;
    width: 650px;
    height: 210px;
    bottom: 0px;
    box-shadow: 10px 10px 15px #888888;
    z-index: 2;
  }

  .portfolio-box2 span {
    position: absolute;
    bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    right: 455px;
  }

  .portfolio-box3 {
    position: relative;
    padding-top: 0px;
    width: 650px;
    height: 210px;
    bottom: 0px;
    z-index: 2;
    box-shadow: 10px 10px 15px #888888;
    float: right;
    right: 50px;
    bottom: 210px;
  }

  .portfolio-box3 span {
    position: absolute;
    bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    right: 455px;
  }

  .portfolio-box1 .overlay {
    position: absolute;
    width: 1400px;
    height: 210px;
    bottom: 100px;
    bottom: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #920303;
  }
  
  .portfolio-box1:hover .overlay {
    opacity: 0.3;
  }
  .portfolio-box2 .overlay {
    position: absolute;
    width: 650px;
    height: 210px;
    bottom: 100px;
    bottom: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #920303;
  }
  
  .portfolio-box2:hover .overlay {
    opacity: 0.3;
  }
  .portfolio-box3 .overlay {
    position: absolute;
    width: 700px;
    height: 210px;
    bottom: 100px;
    bottom: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30;
    height: 100%;
    width: 107.75%;
    opacity: 0;
    transition: .5s ease;
    background-color: #920303;
  }
  
  .portfolio-box3:hover .overlay {
    opacity: 0.3;
  }
  

  /* Contact info section*/
  .contact {
    padding-bottom: 130px;
  }
  .contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  .contact .info i {
    font-size: 230px;
    color: #dd1414a8;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
  }
  .contact .info p {
    text-decoration: bold;
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000a8;
  }
  .contact .info .email p {
    padding-top: 5px;
  }

  .contact .info .social-links a:hover {
    background: #dd1414a8;
    color: #fff;
  }
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #dd1414a8;
    color: #fff;
  }
  

  
  /* Footer text formatting */
  #footer {
    font-style: italic;
    padding: 8px;
    color: #747577;
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 150px;
    z-index: 9999;
    background: #ffffff; opacity: 100%;
  }
